@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .hoverstate {
    filter: invert(42%) sepia(39%) saturate(5874%) hue-rotate(359deg)
      brightness(101%) contrast(105%);
  }
  .svgColor {
    filter: invert(39%) sepia(11%) saturate(585%) hue-rotate(167deg)
      brightness(9%) contrast(69%);
  }
}

/* @font-face {
  font-family: "Söhne";
  src: url("../public//font/TestSöhne/TestSöhne-Halbfett.otf")
    format("truetype");
  
}

body {
  font-family: "Söhne", sans-serif;
} */
